[submodule "apps/contracts/lib/openzeppelin-contracts"]
	path = apps/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "apps/contracts/lib/ERC721A"]
	path = apps/contracts/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "lib/ERC721A"]
	branch = v4.2.3
[submodule "apps/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = apps/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "apps/contracts/lib/ens-contracts"]
	path = apps/contracts/lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
[submodule "apps/contracts/lib/ERC721A-Upgradeable"]
	path = apps/contracts/lib/ERC721A-Upgradeable
	url = https://github.com/chiru-labs/ERC721A-Upgradeable
[submodule "lib/ERC721A-Upgradeable"]
	branch = main
